# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=

# GitHub access
APP_ID=
PRIVATE_KEY_PATH=
INSTALLATION_ID=
GITHUB_BASE_URL=https://github.com
GITHUB_API=https://api.github.com

# Local repository paths for RCA
REPO_BASE_DIR=$HOME/cisco
NIDZ_API_REPO_PATH=
AUTH_BROKER_REPO_PATH=
ENVOY_REPO_PATH=
ENVOY_CONTROLLER_REPO_PATH=
POLICY_BROKER_REPO_PATH=
POLICY_GEN_REPO_PATH=
GUACD_REPO_PATH=
GUACAMOLE_LITE_REPO_PATH=
TERRAFORM_REPO_PATH=
OPS_REPO_PATH=
RELEASE_INFO_REPO_PATH=

# Splunk access
SPLUNK_BASE_URL=
SPLUNK_TOKEN=
SPLUNK_APP=
SPLUNK_DEFAULT_INDEX=

# SignalFx access
SIGNALFX_BASE_URL=https://api.us0.signalfx.com
SIGNALFX_API_TOKEN=

# Confluence access
CONFLUENCE_BASE_URL=
CONFLUENCE_USER=
CONFLUENCE_API_TOKEN=
CONFLUENCE_SPACE_KEYS=

# Jira access
JIRA_BASE_URL=https://cisco-sbg.atlassian.net
JIRA_USER=
JIRA_API_TOKEN=
JIRA_PROJECT_KEYS=
